# Modules
node_modules
.next
out

# Env
.env
.env.local
.env.production
.env*.local
.env.local*
.env.production*

# Build and Patch files
*.tsbuildinfo
*.orig
*.rej
*.patch

# Database
*.db

# Misc
.DS_Store
npm-debug.log*
coverage
